@import "tailwindcss";
@plugin "daisyui" {
   themes: [light --default, dark --prefersdark];
 }

.over-layBg{
background: #030202;
background: linear-gradient(256deg, rgba(3, 2, 2, 0) 34%, rgba(3, 5, 7, 1) 93%);
}

